* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO TECH (VOLTOU 🔥) */
body {
  font-family: Arial;
  color: #e2e8f0;

  background-color: #020617;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  color: #a78bfa;
}

/* CARROSSEL */
.carousel {
  overflow: hidden;
  padding: 50px 0;
  position: relative;
}

/* FADE NAS LATERAIS */
.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.carousel::before {
  left: 0;
  background: linear-gradient(to right, #020617, transparent);
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, #020617, transparent);
}

/* TRACK */
.carousel-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

/* CARDS */
.card {
  width: 300px;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  padding: 15px;
}

/* HOVER NETFLIX */
.card:hover {
  transform: scale(1.08);
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

/* WHATS */
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
}

/* ANIMAÇÃO */
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
